.body{
    position: absolute;
    top: 0%;
    left: 34%;
    border: 1px solid rgb(213, 214, 218);
    border-radius: 4px;
    padding: 20px;
    width: 30%;
    height: 65px;
    box-shadow: 1px 1px 1px 0px gray;
}
.p{
    font-size: 13px;
    font-weight: 100;
    color: gray;
    margin: 0;
}

input {
    border: none;
    border-bottom: 1.6px solid rgb(162, 165, 165);
    width: 96%;
    outline: none;
}

button {
    margin: 4px;
    padding: 6px;
    background-color: rgb(11, 119, 119);
    border: none;
    color: aliceblue;
    border-radius: 2px;
    font-size: 10px;
}